@model IEnumerable<_360HighScoresv2.Models.Tetris>

@{
    ViewBag.Title = "Tetris";

}
@{
    var modelOrdered = Model.OrderByDescending(m => m.Point);
    int rang = 1;

}

<h2 class="bg-white font-medium text-5x1">Tetris</h2>

<h1 class="bg-white font-medium text-5x1" >
    @Html.ActionLink("Tilføj score", "Create")
</h1>
<table class="w-full">
    <tr class="w-1/2 bg-indigo-300">
        <th class="p-2 text-center">Rang</th>
        <th class="p-2 text-center">Navn</th>
        <th class="p-2 text-center pr-4">Point</th>
        <th class="p-2 text-center pr-4"></th>
    </tr>
    @foreach (var item in modelOrdered)
    {

        <tr class="">
            <td class="p-2 text-center bg-white">@(rang++)</td>
            <td class="p-2 text-center bg-white">@Html.DisplayFor(modelItem => item.Navn)</td>
            <td class="p-2 text-center bg-white">@Html.DisplayFor(modelItem => item.Point)</td>
            <td class="p-2 text-center bg-white">@Html.ActionLink("Delete", "Delete", new { id = item.ID })</td>
        </tr>
    }
</table>
