
@{
    ViewBag.Title = "Liste";
}
@model IEnumerable<_360HighScoresv2.Models.Tetris>
@{
    var modelOrdered = Model.OrderByDescending(m => m.Point);
    int rang = 1;
}

<h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-orange-600">Tetris</h3>


@*<table class="table" id="Table">
    <tr>
        <th>
            Rank
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th></th>
    </tr>

    @foreach (var item in modelOrdered)
    {

        <tr>
            <td>
                @(rang++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>


        </tr>
    }

</table>*@
<div class="flex flex-col">
<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
            <table class="min-w-full text-center">
                <thead class="border-b bg-gray-800">
                    <tr>
                        <th scope="col" class="text-sm font-medium text-orange-600 px-6 py-4">
                            Rang
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                            @Html.DisplayNameFor(model => model.Navn)
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                            @Html.DisplayNameFor(model => model.Point)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            @(rang++)
                                </td>

                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                @Html.DisplayFor(modelItem => item.Navn)
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                @Html.DisplayFor(modelItem => item.Point)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>