
@model IEnumerable<_360HighScoresv2.Models.Faceit>

@{
    ViewBag.Title = "Liste";
    var modelOrdered = Model.OrderByDescending(m => m.Elo);
    int rang = 1;
}

<h2>Index</h2>


<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-4 inline-block   sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full text-center">
                    <thead class="border-b bg-orange-600">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                Rang
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                @Html.DisplayNameFor(model => model.Navn)
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                @Html.DisplayNameFor(model => model.Elo)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="bg-white border-b">
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    @(rang++)
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    @Html.DisplayFor(modelItem => item.Navn)
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    @Html.DisplayFor(modelItem => item.Elo)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
