
@model IEnumerable<_360HighScoresv2.Models.Faceit>

@{
    ViewBag.Title = "Liste";
    var modelOrdered = Model.OrderByDescending(m => m.Elo);
    int rang = 1;
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>Rang</th>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(rang++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elo)
            </td>
            
        </tr>
    }

</table>

